html
  head
    link(rel="stylesheet", type="text/css", href="./style.css", media="all")
  body
    div.can
      .gwenframe(title="test")
        .gwenframe_smaller(title="blah")
      .gwenframe_smaller(title="blah")
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='./client.js')


